.DS_Store
Prototyping.ipynb
requirements.txt
taskdescription-of-all2011challenges-printfromoriginalwebisteofchallenge.pdf
a3_data/.DS_Store
a3_data/Microblogs.csv
a3_data/Population.csv
a3_data/README.docx
a3_data/Weather.csv
.vscode/
